rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net (Default Deny)
    match /{document=**} {
      allow read, write: if false;
    }

    // Global configurations collection (e.g. global logo)
    match /configs/{configId} {
      allow read, write: if true;
    }

    // Users collection & subcollections for multitenant / custom user auth & state sync
    match /users/{userId} {
      allow read, write: if true;

      match /states/{stateKey} {
        allow read, write: if true;
      }
    }
  }
}
